.selected-categories{
    position: absolute;
    min-height: 6rem;
    bottom: -3rem;
    left: 50%;
    transform: translate(-50%);
    width: 70%;
}
.selected-categories ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 2rem;
}
.selected-categories .btn{
    display: flex;
    padding: 0;
    height: 3rem;
    overflow: hidden;
}
.selected-categories .btn span{
    padding: .8rem .5rem;
}
.remove-filter-btn{
    background-color: var(--desaturated-dark-cyan);
    border: none;
    width: 3rem;
    display: block;
    transition: all .5s ease;
}
.remove-filter-btn:hover{
    cursor: pointer;
    background-color: black;
}
.clear-btn{
    background-color: transparent;
    border: none;
    text-transform: capitalize;
    font-weight: 700;
    color: var(--desaturated-dark-cyan);
}
.clear-btn:hover{
    text-decoration: underline;
    cursor: pointer;
}    

@media (max-width: 1100px) {
    .selected-categories {
        width: 80%;
    }
}

@media (max-width: 850px) {
    .selected-categories {
        width: 88%;
    }
}

@media (max-width: 800px) {
    .selected-categories {
        width: 96%;
    }
}
@media (max-width: 735px) {
    .selected-categories {
        max-width: 32rem;
        bottom: -8.5rem;
    }
}